*{box-sizing:border-box}
body{margin:0}
ul{padding:0}



body {
    background-color: rgb(246, 248, 249);
}
a{
    color: aliceblue ! important;
}
.navbar{

    background-color: #09273a;
    color: aliceblue ! important ;
 }
 .navbar img{
  width: 10rem;
 }

.nav-link{
  color: rgb(249, 250, 251) ! important;
  font-size: 1.4rem !important;
}

.dropdown-item{
  color: rgb(102, 121, 138) ! important;
}

.nav-link:hover{
  color: lightblue;
}

.navbar-toggler {
  border-color: rgb(249, 250, 251) ! important;
  color: whitesmoke;
}



ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #09273a;
  position: relative;
  border-radius: 0 20% 0 0;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #0DE3FF;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #0DE3FF;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #0DE3FF;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #0DE3FF;
    padding: 13px 20px;
    border: 1px solid #0DE3FF;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/*css homepage*/

.topOne{
  
  background-image: url("../../assets/image/bannièreDaccueil.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 26rem;
 
  display: flex;
  align-items: center;
  justify-content: center;
  
}



.topTwo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../image/opco-opérateurs-de-compétences.jpg");
  padding: 2%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
}

.containerTopTwo{
    align-self: center;
    display: flex;
    justify-content: center;
}



.containerdowntow{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.card-body{
  background-color: white;
  border-radius: 0% 20% 0% 20%;
  padding: 2%;
  margin: 2%;


}

.card1{
  
  border-radius: 0% 20% 0% 20%;
 padding: 2%;
  background-color: white;
}

.card-link{
  color: dimgrey;
}

.topTree{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0% 0% 0% 25px;
  background: #1486ff;
  height: 26rem;
}

.histoire{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 1.2rem;
}

.histoire p{
  text-justify: inter-word;
}


.cardRadius{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}

.cardCardRadius{
  border-radius: 0% 20% 0% 20%;
}

.fourText{
  text-align: justify;
  margin: 3% 6% 3% 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fourText h3{
  margin: 2%;
}

.fourText p {
  text-align: center;
}

.fourLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 1% 3% 1% 1%;
}




.fourComptedeFormation{
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerGauche{
  text-align: justify;
  margin: 1% 3% 1% 4%;
}


.five{
  display: flex;
  justify-content: flex-end;
  background: #3B5998;
  border-radius: 0% 130px 0% 130px;
  padding: 3% 10% 2% 0%;
}


.cardfive{

  border-radius: 0% 20% 0% 20%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.bodyFive{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  flex-direction: column;
}
.bodyFive h5{

  background-color: #1486ff;
  margin-top:2%;
}

.bodyFive button{
  background-color: #1486ff;
  border-radius: 20px;
  color: aliceblue;
  margin-bottom: 2%;
}
.card-text{
  text-align: justify;
  font-size: 0.8rem;
  
}

.card-title{
  margin: 2% 2% 4% 0% !important;
  display: flex;
  justify-content: center;
  align-items:center;
}

.Témoignages{
  text-align: justify;
  margin: 2%;

}

.temoignages{
  background-color: #fff;
}

.sixCaroussel{
  background-color: #1486ff;
  padding: 3%;
  height: 25rem;
}

.carousel-caption {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* text-align: justify; */
  width: 74%;
  padding-bottom: 9%;
    /* padding-left: 18%;*/

}
/*test caroussel*/

 

  .confianceBacktop{
    padding: 3%;
  }

  .gridLogo{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    align-items: center;
    justify-content: space-around;
    padding: 4%;
    
  }

  td{
    background-color: #fff;
    display: grid;
    grid-template-columns: 20% 20% 20%;
  }
  .tableImg{
    width: 100% !important;
  }

  .sevenPartenaires{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 3%;

  }

  .sevenPartenaires h2{
    font-size: 2.5rem;
    background-color: #1486ff;
    color: aliceblue;
  }

  .sevenPartenaires img{
    width: 55rem;
  }

  .carousel-item{
    height: 80vh;
    
  }

  .Log{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
  }

  .ContainerLog{
    width: 60%;
  }



  @media screen and ( max-width:767px){

    .nav-link{
      font-size: 2rem !important;
    }

  }